@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mgen-primary-hue: 212deg;
  --mgen-primary-saturation: 100%;
  --mgen-navbar-height: 4rem;
  --mgen-menu-height: 3.75rem;
  --mgen-banner-height: 2.5rem;
  --mgen-sidebar-width: 260px;
  --mgen-outline-width: 260px;
  --mgen-header-height: 66px;
}

.dark {
  --mgen-primary-hue: ${darkHue}deg;
  --mgen-primary-saturation: ${darkSaturation}%;
}

.max-w-screen {
  max-width: 100vw;
}

.nav-height-offset {
  top: var(--mgen-header-height);
}


.max-content-height {
  max-height: calc(100% - 160px);
}

.side-bar-width {
  width: var(--mgen-sidebar-width);
  max-width: var(--mgen-sidebar-width);
}

.outline-width {
  width: var(--mgen-outline-width);
  max-width: var(--mgen-outline-width);
}

.content-center-offset {
  position: relative;
  left: var(--mgen-sidebar-width);
  max-width: calc(100% - var(--mgen-sidebar-width) - var(--mgen-outline-width));
}


body {
  color: #24292e;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  max-width: 100vw;
  min-height: 100vh;
}

#root, .mg-app {
  max-width: 100vw;
  min-height: 100vh;
}



code.error {
  display: block;
  padding: 2rem;
  color: #F43;
  font-size: 2rem;
  line-height: 2rem;
}